/***********************************
            GENERALES
************************************/
* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: ErasBold;
    src: url(tipografia/eras-bold-5871820c913a2.otf);
}
@font-face {
    font-family: ErasDemi;
    src: url(tipografia/eras-demi-587182767b329.otf);
}
@font-face {
    font-family: ErasBook;
    src: url(tipografia/eras-book-587181c4d21d4.otf);
}

body{
    min-height: 100vh;
    width: 100%;
    background-image: url(../sources/images/background/component-background.png);
    background-size: 5em;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.header__container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: ErasBold;
}

.logo__link {
    text-decoration: none;
    color: #FF0000;

}

.menu {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr .5fr .5fr .5fr;
    border: 1px black;
}

.menu__item {
    text-align: center;
    padding: 10px 20px;
    font-family: ErasDemi;
}

.menu__link {
text-decoration: none;
color: #766666;
}

.instagram, .carrito, .mercadolibre {
    height: 25px;
}

.active {
    color: #FF6363;
}

.slide {
    width: 100%;
}

.slide__img {
    width: 100%;
}