/***********************************
            GENERALES
************************************/
* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: ErasBold;
    src: url(tipografia/eras-bold-5871820c913a2.otf);
}

@font-face {
    font-family: ErasDemi;
    src: url(tipografia/eras-demi-587182767b329.otf);
}

@font-face {
    font-family: ErasBook;
    src: url(tipografia/eras-book-587181c4d21d4.otf);
}

:root {
    --red-main: #d90429;
    --red-dark: #660708;
    --red-light: #ef233c;
    --red-light-2: #FF5454;
    --black: #0B090A;
    --grey-dark: #33373a;
    --grey-light: #D3D3D3;
    --grey-light-2: #F5F3F4;
    --white-clean: #ffffff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin-top: 50px;
    flex-grow: 1;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width:.8rem;
    background-color: var(--white-clean);
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(white, white, var(--red-main), white, white);
    border-radius: 100%;
}

/***********HEADER-MENU************/

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: var(--white-clean);
    position: fixed;
}

.header__container {
    max-width: 1440px;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.chart__button {
    display: none;
    font-size: 2rem;
    color: var(--red-main);
}

.logo {
    font-family: ErasBold;
    font-size: 40px;
    margin-right: 20px;
}

.logo__link {
    text-decoration: none;
    color: var(--red-main);
}

.hamburguer__button {
    display: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--red-main);
}

.menu__container {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu__items--container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.menu__item {
    text-align: center;
    font-family: ErasDemi;
    font-size: 20px;
    letter-spacing: 2px;
    margin: auto;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--gblue-dark);
    cursor: default;
    border-radius: 5px;
}

.menu__icons--container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu__icon {
    text-align: center;
    margin: auto 5px;
    padding: 10px;
    text-decoration: none;
    color: var(--grey-dark);
    cursor: default;
    border-radius: 5px;
}

.menu__icon--img {
    font-size: 1.5em;

}

.menu__item:hover {
    background-color: var(--red-light);
    color: var(--white-clean);
}

.active {
    color: var(--red-light);
    
}


/***************FOOTER**************/

.footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container {
    width: 80%;
    max-width: 1440px;
    margin: 40px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.information__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.information__logo {
    width: 100px;
}

.information {
    margin-left: 20px;
    font-size: 1em;
}

.information__title,
.created-by {
    color: var(--red-dark);
    font-family: ErasBook;
    letter-spacing: 2px;
}

.information__text {
    font-family: ErasBook;
    color: var(--grey-dark);
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.created-by {
    text-align: right;
    margin-top: 100px;
}

/***************NAVBAR**************/

.navbar__container {
    width: 100%;
    height: 100vh;
    background-color: var(--white-clean);
    transition: 1s;

    position: fixed;
    top: 0%;
    left: 100%;
    z-index: 11;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar__header {
    height: 50px;
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close__button {
    display: block;
    font-size: 1.5rem;
    color: var(--red-main);
}

.navbar__menu {
    width: 90%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar__items {
    text-align: center;
    font-family: ErasDemi;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px auto;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--grey-dark);
    cursor: default;
    border-radius: 5px;

}

.navbar__items:hover {
    background-color: var(--red-light);
    color: var(--white-clean);
}

.navbar__icon {
    text-align: center;
    margin: auto 5px;
    padding: 10px;
    text-decoration: none;
    color: var(--grey-dark);
    cursor: default;
    border-radius: 5px;
}

.navbar__icon--img {
    font-size: 2em;
    margin: 0 50px;

}

.navbar__footer {
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;

    display: flex;
    justify-content: center;
}


/***********************************
                INICIO
************************************/

.slide__container {
    max-width: 1440px;
    width: 100%;
    margin: 0px auto 50px auto;
}

.slide__img {
    width: 100%;
}

.categoria__container {
    width: 80%;
    max-width: 1440px;
    margin: 20px auto 50px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.categoria__item--container {
    width: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.categoria__item {
    width: 100px;
    height: 100px;
    background-color: var(--red-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.categoria__icon {
    color: var(--white-clean);
    font-size: 3rem;
}

.categoria__caption {
    font-family: ErasBook;
    font-size: 20px;
    margin: 10px;
    letter-spacing: 2px;
}

.location__container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.location__map {
    max-width: 1440px;
    height: 200px;
    width: 100%;
}

/***********************************
        PRODUCTOS y CARRITO
************************************/

.products__main {
    background-color: var(--red-main);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--red-main);
}

.prod__aside {
    box-sizing: border-box;
    background-color: var(--red-main);
    padding: 3rem 1rem 1rem 1rem;
    padding-right: 0px;
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.category__menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.category__button {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: 0;
    cursor: pointer;
    color: var(--white-clean);
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    font-family: ErasDemi;
    letter-spacing: 2px;

    display: flex;
    text-align: left;
    align-items: center;
    gap: 1rem;
    
}

.number {
    padding: .25rem .5rem;
    border-radius: .5rem;
    color: var(--red-light);
    background-color: var(--white-clean);
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
}

.active__btn {
    color: var(--red-light);
    background-color: var(--white-clean);
    border-radius: .7rem 0 0 .7rem;
}

.prod__main {
    background-color: var(--white-clean);
    margin: 1rem 1rem 1rem 0;
    border-radius: 1rem;
    padding: 1rem;
}

.prod__title {
    color: var(--red-light);
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-family: ErasDemi;
    letter-spacing: 2px;

}

.prod__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

}

.prod__item {
    width: 200px;
    height: auto;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 4px var(--grey-light);
    text-align: center;
}

.prod__item--img {
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0rem 0rem;
}

.prod__item--description {
    box-sizing: border-box;
    background-color: var(--red-light);
    color: var(--white-clean);
    border-radius: 0rem 0rem 1rem 1rem;
    padding: 0.5rem;
    font-family: ErasBook;
    letter-spacing: 1px;

    height: 120px;
    display: flex;
    flex-direction: column;
}

.prod__item--title {
    font-size: 0.85rem;
    flex-grow: 1;
}

.prod__item--button {
    border: 2px solid var(--white-clean);
    background-color: var(--white-clean);
    border-radius: .25rem;
    color: var(--red-main);
    font-family: ErasDemi;
    letter-spacing: 1px;
    padding: 0.5rem;
    text-transform: uppercase;
}

.prod__item--button:hover {
    background-color: var(--red-main);
    color: var(--white-clean);
    transition: .5s;
}

.cart__container {
    min-height: 300px;
}
.cart__empty, .cart__bought {
    color: var(--grey-light);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    font-family: ErasBook;
}

.bi-heartbreak-fill, 
.bi-emoji-laughing {
    color: var(--red-main);
}

.cart__prod--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 1rem;
}

.cart__prod--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__prod--img {
    height: 50px;
    border-radius: .5rem;
}

.cart__prod--title {
    font-size: .7rem;
    font-family: ErasBook;
}

.cart__prod--text {
    font-size: 1rem;
    font-family: ErasBook;
    font-weight: 600;
}

.cart__prod--delete-btn {
    background-color: transparent;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}

.delete-button {
    font-size: 1.8rem;
    color: var(--red-light);
}

.cart__actions {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.cart__empty--btn, .cart__actions--buy-btn, 
.cart__actions--total-wrapper {
    border: none;
    background-color: var(--red-light);
    color: var(--white-clean);
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1rem;
    font-family: ErasBook;
    letter-spacing: 1px;
    font-weight: 600;
}

.cart__empty--btn, .cart__actions--total-wrapper {
    color: var(--red-light);
    background-color: var(--grey-light-2);
}

.cart__empty--btn {
    border-radius: .5rem;
}

.cart__actions--right {
    display: flex;
}

.cart__actions--total-wrapper {
    display: flex;
    border-radius: .5rem 0rem 0rem .5rem;
}

.cart__actions--total-title {
    margin-right: 4px;
    
}

.cart__actions--buy-btn {
    border-radius: 0rem .5rem .5rem 0rem ;
}

.disable {
    display: none;
}

.filterbar {
    display: none;
}


/***********************************
            CONTACTO
************************************/
.contact__container {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.contact__img--container {
    width: 40%;
}

.contact__img {
    width: 100%;
}

.form {
    margin: 0 10px 50px 10px;
    width: 40%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--white-clean);
}

.form__title {
    font-size: 2rem;
    margin-bottom: .5em;
    font-family: ErasDemi;
    color: var(--grey-dark);

}

.form__container {
    margin-top: 3em;
    display: grid;
    gap: 2em;
}

.form__group {
    position: relative;

}

.form__input {
    width: 100%;
    background: none;
    color: var(--grey-light);
    font-size: 1rem;
    padding: .6em 0;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--red-light-2);
    font-family: ErasBook;
    letter-spacing: 2px;
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
    transform: translateY(-12px);
}

.form__label {
    color: var(--color);
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s;
    font-family: ErasBook;
    letter-spacing: 2px;
    font-size: 10px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.form__label--ok {
    font-size: .9em;
    font-family: ErasBook;
    letter-spacing: 1px;
}

.form__submit {
    background-color: var(--white-clean);
    border: 2px solid var(--red-light);
    border-radius: 5px;
    color: var(--red-light);
    font-family: ErasBold;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 0.5em;
}

.form__submit:hover {
    background-color: var(--red-light-2);
    color: var(--white-clean);
    transition: .5s;
}


/***********************************
            MEDIA QUERIES
************************************/

/**************FOOTER**************/
@media screen and (max-width: 1023px) {
    .header__container {
        width: 90%;
    }

    .chart__button {
        display: block;
    }

    .hamburguer__button {
        display: block;
    }

    .logo {
        font-size: 26px;
        margin: 0;
    }

    .menu__container {
        display: none;
    }

    .footer__container {
        width: 90%;
    }

    .information__container {
        width: auto;
    }

    .information__logo {
        margin-bottom: 15px;
    }

    .information__title {
        font-size: 14px;
    }

    .information__text {
        font-size: 10px;
    }


    .created-by {
        text-align: center;
        font-size: 12px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 320px) {

    .information__logo {
        width: 50px;
    }
}

/**************INICIO**************/
@media screen and (max-width: 1023px) {

    .categoria__container {
        width: 90%;
        max-width: 1440px;
        margin: 20px auto 50px auto;
        flex-flow: row wrap;
    }

    .categoria__item--container {
        width: 150px;
    }

    .categoria__item {
        width: 100px;
        height: 100px;
    }

    .categoria__icon {
        width: 50px;
        height: 50px;
    }

    .categoria__caption {
        font-size: 14px;
    }
}

/**************PRODUCTOS**************/
@media screen and (max-width: 1023px) {
   
    .category__back {
        display: none;
    }

    .wrapper {
        display: flex;
        width: 100%;
    }

    
    .prod__aside {
        background-color: var(--red-main);
        transition: .5s;
        padding: 0;
        overflow-y: auto;
        
        position: fixed;
        top: -500px;
        left: 0;
        z-index: 5;
    }

    .category__menu {
        margin: auto;
        width: 100%;

        display: flex;
        justify-content: center;

    }


    .category__button {
        border-radius: 0;
    }
    
    .prod__main {
        width: 100%;
        margin: 1rem;
        padding: 5px;
        justify-content: start;
    }


}

/**************CARRITO**************/
@media screen and (max-width: 1023px) {
    .cart__container {
        min-height: 270px;
    }

    .cart__prod--wrapper {
        flex-flow: row wrap;
        justify-content: center;
    }

    .cart__actions {
        flex-flow: column;
        align-items: center;
        margin: 5px;
    }

    .cart__actions--left {
        margin-bottom: 10px;
    }

    .cart__prod--item {
        width: 200px;
        height: auto;
        border-radius: 1rem;
        box-shadow: 0px 0px 4px var(--grey-light);
        text-align: center;

        flex-direction: column;
    }
    
    .cart__prod--img {
        width: 100%;
        height: auto;
        border-radius: 1rem 1rem 0rem 0rem;
        margin-bottom: 5px;
    }
    
    .cart__prod--delete-btn {
        margin: .5rem;
    }
    
        
}

/**************CONTACTO**************/
@media screen and (max-width: 1023px) {
    .form {
        width: 90%;
    }

    .contact__img--container {
        display: none;
    }
}