/***********************************
            GENERALES
************************************/
* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: ErasBold;
    src: url(tipografia/eras-bold-5871820c913a2.otf);
}
@font-face {
    font-family: ErasDemi;
    src: url(tipografia/eras-demi-587182767b329.otf);
}
@font-face {
    font-family: ErasBook;
    src: url(tipografia/eras-book-587181c4d21d4.otf);
}

body{
    min-height: 100vh;
    background-image: url(../sources/images/background/component-background.png);
    background-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin-top: 120px;
}
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.header__container {
    max-width: 1440px;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: ErasBold;
    font-size: 40px;
    margin-left: 10px;
}

.logo__link {
    text-decoration: none;
    color: #FF0000;
}

.menu__container {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu__items--container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.menu__item {
    text-align: center;
    font-family: ErasDemi;
    font-size: 20px;
    letter-spacing: 2px;
    margin: auto 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #766666;
    cursor: default;
    border-radius: 5px;
}

.menu__icons--container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu__icon {
    text-align: center;
    margin: auto 5px;
    padding: 10px;
    text-decoration: none;
    color: #766666;
    cursor: default;
    border-radius: 5px;
}

.menu__icon--img {
    height: 20px;

}

.menu__item:hover {
    background-color: #FF6363;
    color: white;
}

.instagram, .carrito, .mercadolibre {
    height: 25px;
}

.active {
    color: #FF6363;
}

footer {
    background-color: #333333;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container {
    width: 80%;
    max-width: 1440px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.information__logo {
    width: 150px;
}

.information {
    margin-left: 20px;
    font-size: 1em;
}
.information__title, .created-by {
    color: #e7e7e7;
    font-family: ErasBook;
    letter-spacing: 2px;
}

.information__text {
    font-family: ErasBook;
    color: #e7e7e7;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.created-by {
    text-align: right;
    margin-top: 100px ;
}

/***********************************
                INICIO
************************************/

.slide__container {
    max-width: 1440px;
    width: 100%;
    margin: 0px auto 50px auto;
}

.slide__img {
    width: 100%;
}

.categoria__container {
    width: 80%;
    max-width: 1440px;
    margin: 20px auto 50px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.categoria__item--container {
    width: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.categoria__item {
    width: 150px;
    height: 150px;
    background-color: #FF6363;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.categoria__icon {
    width: 100px;
    height: 100px;
}

.categoria__caption {
    font-family: ErasBook;
    font-size: 20px;
    margin: 10px;
    letter-spacing: 2px;
}

.location {
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin: auto;
}

.location img {
    width: 100%;
}

@media screen and (max-width: 1020px){
    .header__container {
        width: 90%;
        justify-content: center;
    }

    .menu__container {
        display: none;
    }

    .categoria__container {
        width: 90%;
        max-width: 1440px;
        margin: 20px auto 50px auto;
        flex-flow: row wrap;
    }

    .categoria__item--container {
        width: 150px;
    }
    
    .categoria__item {
        width: 100px;
        height: 100px;
    }
    
    .categoria__icon {
        width: 50px;
        height: 50px;
    }
    
    .categoria__caption {
        font-size: 14px;
    }

    .footer__container {
        flex-direction: column;
    }

    .created-by {
        margin: 20px auto;
    }
}

/***********************************
            Productos
************************************/

.aside--menu__container {
    width: 25%;
    border: 2px solid black;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: left;
}